/* Fairouz modifications */

#services
{
    margin-bottom: 5rem;
}
.service-desc h3
{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #1e1e1e;
}
.line
{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
    text-align: left;
}
.service-item
{
    background-color:#fff;
    border: solid 1px transparent;
    border-radius: 1rem;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
#services .service-item h2
{
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: .4rem 0;
    color: #1e1e1e;
}
.service-item .service-icon
{
    width: 5rem;
    height: 5rem;
    margin-bottom: 0,5rem;
    border: solid 5px #0078ff;
    border-radius: 50%;
    padding: 0.5rem;
}
.service-item:hover .service-icon
{
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #0078ff; 
}
/* Fairouz modifications */
/* Helmy */
.destination-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.destination {
    background: #03a9f4;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.4);
    color: white;
    margin: 0.5em;
    min-height: 200px;
    flex: 0 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.destination:hover h2 {
    transform: rotate(0deg);
}

.destination h2 {
    margin: 0;
    transform: rotate(-45deg);
    transition: transform 0.5s;
    text-shadow: 0 0 5px #01579b;
}

#belize {
    background-color: #4dd0e1;
}

#barcelona {
    background-color: #800000;
}
